<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnyatN1v8VCMQ9rOdB0edwe-wlhB6ts8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>124351345456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bwchennai.red</string>
	<key>PROJECT_ID</key>
	<string>gd-building</string>
	<key>STORAGE_BUCKET</key>
	<string>gd-building.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124351345456:ios:abb6326536f9127acf4ef5</string>
</dict>
</plist>